# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\django_ecommerce_mod5-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
